<div class="container">
    <h1>Projects</h1>

    <div class="row">
        <div class="col-lg-4 col-sm-12 " data-aos="flip-up" *ngFor="let project of projects;">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>{{project.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="project.image" alt="">
                <mat-card-content>
                  <p>
                   {{project.description}}
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button style=
                  "background-color:green; 
                   color:white"  (click)="click(project)">Source Code</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>
