<div class="container">
    <h1>Contact</h1>

    <ul class="social-media">
        <li><i class='bx bxl-gmail' (click)="click('ntokozomweli001@gmail.com')"></i></li>
        <li><i class='bx bxl-linkedin' (click)="click('https://www.linkedin.com/in/ntokozo-mweli-6a909616b/')" ></i></li>
        <li><i class='bx bxl-github'  (click)="click('https://github.com/ntokom89')"></i></li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: +27 72 985 3908</li>
        <li>Email: ntokozomweli001@gmail.com</li>
    </ul>
</div>
